footer {
    background: #000;
    color: #fff;
    padding: 80px 0;
    width: 100%;
    padding-bottom: 24px;
}

.footer-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 9%;
}

.footer-section {
width: 198px ;
color: #FAFAFA;
}

.footer-section h3 {
font-size: 24px;
font-weight: 700;
margin-bottom: 24px;
}

.footer-section .par1 {
font-size: 20px;
margin-bottom: 24px;
font-weight:500 ;

}
.footer-section .par2{
font-size: 16px;
margin-bottom: 24px;
font-weight:400 ;
}

.subscribe {
display: flex;
align-items: center;
margin-top: 10px;
}

.subscribe input {
flex: 1;
padding: 10px;
color: #fff;
border: 1px solid #fff;
outline: none;
border-radius: 4px;
background-color: transparent;
}



.download {
display: flex;
align-items: center;
gap: 10px;
}

.download img {
width: 100px;
}

.social-icons {
margin-top: 24px;
margin-right: 30px;
display: flex;
justify-content: space-between;
}

.social-icons i {
cursor: pointer;
}

.copyright {
text-align: center;
margin-top: 20px;
font-size: 16px;
font-weight: 400;
opacity: 0.6;
color: #fff;
border-top: 1px solid #fff;
padding-top: 16px;
}
@media (max-width:375px ){
    .footer-section .subscribe {
        margin-bottom: 50px;
    }
}

